<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Mock</title>
</head>
<body>
<h1>Edit Mock</h1>
<form th:action="@{/settings}" method="post" th:object="${mock}">
    <input type="hidden" th:field="*{mockId}" />
    Name: <input type="text" th:field="*{mockName}" /><br/>
    Path: <input type="text" th:field="*{mockPath}" /><br/>
    Method: <input type="text" th:field="*{mockMethod}" /><br/>
    Response: <input type="text" th:field="*{mockResponse}" /><br/>
    Timeout: <input type="number" th:field="*{mockTimeout}" /><br/>
    <button type="submit">Save</button>
    <form th:action="@{/settings/delete/{mockId}(mockId=${mock.mockId})}" method="post">
        <button type="submit" class="btn btn-danger">Удалить заглушку</button>
    </form>
    <a href="/settings">Back</a>
</form>
</body>
</html>