<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Journal</title>
</head>
<body>
<h1>Журнал операций</h1>

<table>
    <thead>
    <tr>
        <th><a th:href="@{/journal(sort='journalScriptId', size=${size})}">ID</a></th>
        <th><a th:href="@{/journal(sort='action', size=${size})}">Action</a></th>
        <th><a th:href="@{/journal(sort='journalMockName', size=${size})}">Имя заглушки</a></th>
        <th><a th:href="@{/journal(sort='journalMockMethod', size=${size})}">Метод</a></th>
        <th><a th:href="@{/journal(sort='journalMockRequest', size=${size})}">Запрос</a></th>
        <th><a th:href="@{/journal(sort='journalMockResponse', size=${size})}">Ответ</a></th>
        <th><a th:href="@{/journal(sort='journalDateTime', size=${size})}">Дата и время операции</a></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="journal : ${journals}">
        <td th:text="${journal.journalScriptId}"></td>
        <td th:text="${journal.action}"></td>
        <td th:text="${journal.journalMockName}"></td>
        <td th:text="${journal.journalMockMethod}"></td>
        <td th:text="${journal.journalMockRequest}"></td>
        <td th:text="${journal.journalMockResponse}"></td>
        <td th:text="${#dates.format(journal.journalDateTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
    </tr>
    </tbody>
</table>

<a href="/settings">В настройки</a>

<form method="get" th:action="@{/journal}">
    <select name="size" onchange="this.form.submit()">
        <option th:each="sizeOpt : ${sizeOptions}"
                th:selected="${sizeOpt == size}"
                th:text="${sizeOpt}"
                th:value="${sizeOpt}">
        </option>
    </select>
    <input name="page" type="hidden" value="0"/>
</form>

<div>
    <a th:href="@{/journal(page=${journals.number - 1}, size=${size})}" th:if="${journals.hasPrevious()}">Previous</a>
    <span th:text="${journals.number + 1}"></span>
    <a th:href="@{/journal(page=${journals.number + 1}, size=${size})}" th:if="${journals.hasNext()}">Next</a>
</div>
</body>
</html>
