<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Settings</title>
</head>
<body>
<h1>Mock Settings</h1>
<table>
    <thead>
    <tr>
        <th><a th:href="@{/settings(sort='mockName')}">Name</a></th>
        <th><a th:href="@{/settings(sort='mockDate')}">Date</a></th>
        <th><a th:href="@{/settings(sort='mockPath')}">Path</a></th>
        <th><a th:href="@{/settings(sort='mockId')}">Id</a></th>
        <th><a th:href="@{/settings(sort='mockMethod')}">Method</a></th>
        <th>Response</th>
        <th>Timeout</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="mock : ${mocks}">
        <td><a th:href="@{/settings/edit/{mockId}(mockId=${mock.mockId})}" th:text="${mock.mockName}"></a></td>
        <td th:text="${mock.mockDate}"></td>
        <td th:text="${mock.mockPath}"></td>
        <td th:text="${mock.mockId}"></td>
        <td th:text="${mock.mockMethod}"></td>
        <td th:text="${mock.mockResponse}"></td>
        <td th:text="${mock.mockTimeout}"></td>
    </tr>
    </tbody>
</table>

<a href="/journal">Просмотр журнала</a>

<a href="/settings/new" class="btn btn-primary">Создать новую заглушку</a>

<div>
    <!-- Previous page link -->
    <a th:if="${currentPage > 1}" th:href="@{/settings(offset=${currentPage-1}, pageSize=${pageSize}, sort=${sortBy})}">Previous</a>

    <!-- Page numbers -->
    <span th:each="i : ${#numbers.sequence(1, totalPages)}">
        <a th:if="${currentPage != i}" th:href="@{/settings(offset=${i}, pageSize=${pageSize}, sort=${sortBy})}" th:text="${i}"></a>
        <span th:if="${currentPage == i}" th:text="${i}"></span>
    </span>

    <!-- Next page link -->
    <a th:if="${currentPage < totalPages}" th:href="@{/settings(offset=${currentPage+1}, pageSize=${pageSize}, sort=${sortBy})}">Next</a>
</div>

<select name="offset" onchange="location = this.value;">
    <option th:value="@{/settings(offset=10, pageSize=${pageSize}, sort=${sort})}">10</option>
    <option th:value="@{/settings(offset=25, pageSize=${pageSize}, sort=${sort})}">25</option>
    <option th:value="@{/settings(offset=50, pageSize=${pageSize}, sort=${sort})}">50</option>
    <option th:value="@{/settings(offset=100, pageSize=${pageSize}, sort=${sort})}">100</option>
</select>
</body>
</html>
